

.site-navigation__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.site-navigation__elmt {
    margin-bottom: 1em;
    &:not(:last-child) {
        margin-right: 2em;
    }
}

.site-navigation__link {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    text-align: center;
    padding: 0.5em 1.5em;
    background-color: $main-color;
    border-radius: 30px;
    background-color: $main-color-opa;
    &:hover,
    &:focus {
        outline: none;
        color: $sub-color;
        background-color: $main-color;
    }
    &:active {
        color: lightgray;
        text-decoration: none;
    }
    &--active {
        color: $sub-color;
        background-color: $main-color;
    }
}

.site-navigation__sandwich {
    display: none;
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;

    &::before,  
    &::after {
        content: "";
        width: 10%;
        height: 4px;
        background-color: white;
        box-shadow: 0 12px 0 0 white,
        0 24px 0 0 white;
        position: absolute;
        top: 50%;
        margin-top: -15px;
    }
    &::after {
        right: 1%;
    }
    &::before {
        left: 1%;
    }
}


@media (max-width: 767px) {
    .site-navigation__content-container {
        background-color: $main-color;
    }
    .site-navigation__sandwich {
        display: block;
    }
    .site-navigation__list {
        display: none;
        &--open {
            display: block;
            margin-top: 2em;
        }
    }

    .site-navigation__link {
        padding: 1em;
        font-size: 1.5em;
        border-radius: 0;
        &--active {
            background-color: white;
            color: $main-color;
            
        }
    }
}

@media (max-width: 424px) {
    .site-navigation__sandwich {
        &::before,
        &::after {
            content: "";
            width: 12%;
            height: 3px;
            background-color: white;
            box-shadow: 0 10px 0 0 white,
            0 20px 0 0 white;
            margin-top: -12px;
        }
        &::after {
            right: 1%;
        }
        &::before {
            left: 1%;
        }
    }
}