.promotion__content-container {
    background: url(../img/promo.jpg) no-repeat 50% 10%;
    background-size: cover;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 7em 2em;
    &--inner {
        padding: 15em 0;
    }
    &--architectural {
        background: url(../img/spheres/2000/architectural.jpg) no-repeat 50% 85%;
    background-size: cover;
    }
    &--industrial {
        background: url(../img/spheres/2000/industrial.jpg) no-repeat 50% 85%;
    background-size: cover;
    }
    &--automotive {
        background: url(../img/spheres/2000/automotive.jpg) no-repeat 0% 100%;
    background-size: cover;
    }
    &--interior {
        background: url(../img/spheres/2000/interior.jpg) no-repeat 50% 85%;
    background-size: cover;
    }
    &--decorative {
        background: url(../img/spheres/2000/decorative.jpg) no-repeat 50% 85%;
    background-size: cover;
    }
    &--sports-equipment {
        background: url(../img/spheres/2000/sports-equipment.jpg) no-repeat 50%;
    background-size: cover;
    }
}

.promotion__losung {
    font-weight: 600;
    margin: 0;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.758);
    border-radius: 10px;
    font-size: 1.6em;

    width: 55%;
    &--inner {
        width: 100%;
        text-align: center;
        background-color: $main-color;
        border-radius: 0;
        color: white;
        font-weight: 500;
        font-size: 2em;
        padding: 0.5em;
    }
}

.promotion__utp {
    display: block;
    font-weight: 600;
    color: $main-color;
    font-size: 1.8em;
    margin: 0.3em 0;
}

.promotion_get-price-link {
    width: 30%;
    box-sizing: border-box;
    padding: 2em;
    text-align: center;
    background-color: $main-color;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-size: 1em;

    text-decoration: none;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.533),
    inset 1px 1px 1px 1px rgba(255, 255, 255, 0.533);
    &:hover,
    &:focus {
        outline: none;
        color: $sub-color;
    }
    &:active {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.533);
        color: lightgrey;
    }
}

.promotion__link-title {
    display: block;
    font-size: 1.7em;
    
    font-weight: 500;
}

.promotion__download-icon {
    fill: white;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    width: 10%;
}

.promotion_get-price-link:hover .promotion__download-icon,
.promotion_get-price-link:focus .promotion__download-icon {
    fill: $sub-color;
}

.promotion_get-price-link:active .promotion__download-icon {
    fill: lightgrey;
}

@media (max-width: 1599px) {
    .promotion__content-container {
        &--architectural {
            background: url(../img/spheres/1600/architectural.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--industrial {
            background: url(../img/spheres/1600/industrial.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--automotive {
            background: url(../img/spheres/1600/automotive.jpg) no-repeat 0% 100%;
        background-size: cover;
        }
        &--interior {
            background: url(../img/spheres/1600/interior.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--decorative {
            background: url(../img/spheres/1600/decorative.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--sports-equipment {
            background: url(../img/spheres/1600/sports-equipment.jpg) no-repeat 50%;
        background-size: cover;
        }
    }
}

@media (max-width: 1400px) {
    .promotion__content-container {
        &--architectural {
            background: url(../img/spheres/1400/architectural.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--industrial {
            background: url(../img/spheres/1400/industrial.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--automotive {
            background: url(../img/spheres/1400/automotive.jpg) no-repeat 0% 100%;
        background-size: cover;
        }
        &--interior {
            background: url(../img/spheres/1400/interior.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--decorative {
            background: url(../img/spheres/1400/decorative.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--sports-equipment {
            background: url(../img/spheres/1400/sports-equipment.jpg) no-repeat 50%;
        background-size: cover;
        }
    }
}

@media (max-width: 1199px) {
    .promotion__content-container {
        &--architectural {
            background: url(../img/spheres/1200/architectural.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--industrial {
            background: url(../img/spheres/1200/industrial.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--automotive {
            background: url(../img/spheres/1200/automotive.jpg) no-repeat 0% 100%;
        background-size: cover;
        }
        &--interior {
            background: url(../img/spheres/1200/interior.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--decorative {
            background: url(../img/spheres/1200/decorative.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--sports-equipment {
            background: url(../img/spheres/1200/sports-equipment.jpg) no-repeat 50%;
        background-size: cover;
        }
    }
}


@media (max-width: 979px) {
    .promotion__content-container {  
        display: block;
        &--architectural {
            background: url(../img/spheres/980/architectural.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--industrial {
            background: url(../img/spheres/980/industrial.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--automotive {
            background: url(../img/spheres/980/automotive.jpg) no-repeat 0% 100%;
        background-size: cover;
        }
        &--interior {
            background: url(../img/spheres/980/interior.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--decorative {
            background: url(../img/spheres/980/decorative.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--sports-equipment {
            background: url(../img/spheres/980/sports-equipment.jpg) no-repeat 50%;
        background-size: cover;
        }      
    }
    .promotion__losung {   
        width: 90%;
        text-align: center;
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 2em;
        &--inner {
            margin-bottom: 0;
            width: 100%;
        }
    }
    .promotion_get-price-link {
        display: block;
        width: 70%;
        position: relative;
        text-align: center;

        margin: 0 auto;
        font-size: 1.1em;
        
        font-weight: 500;
        
    }
    .promotion__download-icon {
        position: absolute;
        width: 2em;
        top: 50%;
        margin-top: -1.2em;
        left: 5%;
    }
    .promotion__link-title {
        display: inline;
        font-size: 1em;
        font-weight: 500;
    }
}

@media (max-width: 767px) {
    .promotion__content-container {
        padding: 3em 2em;
        &--inner {
            padding: 0;
            padding-top: 20em;
        }
        &--architectural {
            background: url(../img/spheres/550/architectural.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--industrial {
            background: url(../img/spheres/550/industrial.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--automotive {
            background: url(../img/spheres/550/automotive.jpg) no-repeat 0% 100%;
        background-size: cover;
        }
        &--interior {
            background: url(../img/spheres/550/interior.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--decorative {
            background: url(../img/spheres/550/decorative.jpg) no-repeat 50% 85%;
        background-size: cover;
        }
        &--sports-equipment {
            background: url(../img/spheres/550/sports-equipment.jpg) no-repeat 0 100%;
        background-size: cover;
        }
    }
    .promotion__losung {   
        width: 100%;
        font-size: 1.3em;
        &--inner {
            margin-bottom: 0;
            width: 100%;
            padding: 1em;
            font-size: 1.5em;
            background-color: $main-color-opa;
        }
    }
    .promotion_get-price-link {
        width: 100%;
        text-align: center;
    }
    .promotion__download-icon {

        left: 8%;
    }
}