.site-form {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;

    background-color: $main-color;
    padding: 2em 3em;
    box-sizing: border-box;
    
    top: 50%;
    width: 70%;
    max-width: 1200px;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%,-50%);
}


.site-form__title {
 color: white;
 font-size: 1.2em;
}

.site-form__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &--hide {
        display: none;
    }
}

.site-form__label {
    width: 30%;
    margin-bottom: 1.5em;
    font-size: 0.8em;
    &--text {
        width: 100%;
    }
    &--hide {
        display: none;
    }
}

.site-form__input {
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    &--text {
        
        width: 100%;
    }
    &--hide {
        display: none;
    }
}

.site-form__submit {
    padding: 0.5em 1em;
    margin: 0 auto;
    box-sizing: border-box;
    width: 70%;
    background-color: $sub-color;
    border-radius: 8px;
}

.close-button {
    display: block;
    width: 1.5em;
    height: 1.5em;
    
    
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    &::before,
    &::after {
        content: "";

        width: 100%;
        height: 5px;
        background-color: $sub-color;

        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        left: 0;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover::before,
    &:focus::before,
    &:hover::after,
    &:focus::after {
        background-color: red;
    }
    &:active::before,
    &:active::after {
        opacity: 0.8;
    }
}

.site-form__success {
    color: white;
    text-align: center;
    font-size: 1.3em;
    display: none;
    &--show {
        display: block;
    }
}

@media (max-width: 767px) {
    .site-form {
        max-width:540px;
    }
    .site-form__form {
        flex-direction: column;
    }
    .site-form__label {
        width: 100%;
        font-size: 1em;
    }
    .close-button {
        &::before,
        &::after {
            height: 3px;
        }
    }
}